.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .catHeader {
    text-align: center;
    padding: 1rem 0;
  }
  
  .littleAbout {
    background: linear-gradient(180deg, #008aff, #ff137d), url("./../assets/new2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .littleAbout .first {
    width: 100%;
  }
  .littleAbout .first img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .littleAbout .second{
      display: flex;
      align-items: start;
      justify-content: center;
      padding: 5rem;
  }
  
  
  .littleAbout .design{
     color: #fff;
  }
  
  .littleAbout blockquote{
  color: #fff;
  
  }
  .littleAbout .second img {
    border-radius: 50%;
    border: 2px solid #fff;
  }
  @media (max-width: 768px) {
      .littleAbout .first {
          text-align: center;
        }
  
    .littleAbout{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .littleAbout .second{
        align-items: center;
        flex-direction: column;
    }
  }
  
  .recentProducts{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  @media (max-width: 768px) {
    .recentProducts{
       flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }

  .ourService{
      margin-top: 5rem;
  }
  .ourService .content{
    padding: 0 10rem
  }
  .ourService .info{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column-gap: 10px;
  }
  .ourService .info div{
    padding: 2rem 1rem;
  }
  .ourService .info div .MuiSvgIcon-root{
    color: green;
  }

  @media (max-width:768px) {
    .ourService .content{
        padding: 0 2rem;
      }
      .ourService .info{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 10px;
      }
  }
  @media (max-width:576px) {
      .ourService .info{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 10px;
      }
  }